.name {
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 19px;
}

.product {
    width: 33.33%;
    box-sizing: border-box;
    padding: 30px;
}

.price {
    color: red;
    margin: 10px 0px 0px 30px;
    font-size: 32px;
    font-weight: 700;
}

.rating {
    margin-top: 10px;
    text-align: center;
    color: gold;
    background-color: black;
    border-radius: 5px;
    font-size: 22px;
}